<div *ngIf="vehicles && vehicles.length" class="container">
  <h2>Vehicle List</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Category</th>
        <th scope="col">State Number</th>
        <th scope="col">Manufacturing Year</th>
        <th scope="col">Has Trailer</th>
        <th scope="col">Vehicle Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles; index as idx">
        <th scope="row">{{ idx + 1 }}</th>
        <td>{{ vehicle.brand }}</td>
        <td>{{ vehicle.model }}</td>
        <td>{{ vehicle.category }}</td>
        <td>{{ vehicle.stateNumber }}</td>
        <td>{{ vehicle.yearOfManufacture }}</td>
        <td>{{ vehicle.hasTrailer ? 'Yes' : 'No' }}</td>
        <td>{{ vehicle.vehicleType }}</td>
      </tr>
    </tbody>
  </table>
</div>
